/************************
    REGOLE GENERALI
*************************/

/** Reset Pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    font-size: 1.1rem;
    font-family: "Edu TAS Beginner", sans-serif;
    background-image: url(../img/cork.png)
}

h2 {
    font-size: 2rem;
}


/**************************
    CLASSI RIUTILIZZABILI
**************************/
.container {
    max-width: 61%;
    margin: 50px auto;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-t-b-10 {
    margin: 10px 0;
}

/******************
    INTESTAZIONE
******************/
header {
    height: 100px;
    background-image: url(../img/wall.png);
}

h1 {
    font-size: 5rem;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}

/******************
    MAIN
******************/

/** Sezione Card */
#sezione-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
/** Contenitori */

    .card {
        width: 267px;
        min-height: 235px;
        padding-bottom: 10px;
        background-color: white;

        /* Position relative per pin */
        position: relative;
    }

    .container-foto {
        width: 90%;
        margin: 0 auto ;
    }

/** Pin card */
.pin-card {
    display: block;
    max-width: 27px;

    /* Position */
    position: absolute;
    left: 50%;
    top: -3%;
    transform: translate(-50%, 0);
}

/** Foto */
.foto {
    max-width: 100%;
    margin: 10px 0;
}

/** Data */
.data {
    font-size: 0.9rem;
    font-family: "Sometype Mono", monospace;
}