/****************************************************  VERSIONE DESKTOP  *************************************************************/

/************************
    REGOLE GENERALI
*************************/

/** Reset Pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    font-size: 1.1rem;
    font-family: "Edu TAS Beginner", sans-serif;
    background-image: url(../img/cork.png);
}

/**************************
    CLASSI RIUTILIZZABILI
**************************/

/* Spaziature */

.margin-t-b-10 {
    margin: 10px 0;
}

.padding-left-10 {
    padding-left: 10px;
}

.display-none {
    display: none;
}

/******************
    INTESTAZIONE
******************/
header {
    height: 100px;
    background-image: url(../img/wall.png);
}

h1 {
    font-size: 5rem;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}

/******************
        MAIN
******************/

/** CONTENITORI */

    /* Contenitore Pagina */
    .container {
        max-width: 80%;
        margin: 50px auto;
    }

    /* Contenitore Card */
    #container-sezione-card {
        max-width: 70%;
        margin: 0 auto;

        /* Proprietà Flex */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    /* Contenitore Foto */
    .container-foto {
        width: 90%;
        margin: 0 auto;
    }

/** CARD */
    .card {
        flex-basis: calc( (100% - 40px)/3);
        min-width: 200px;
        min-height: 235px;
        margin: 0 auto;
        padding-bottom: 10px;
        background-color: white;

        /* Position relative per pin */
        position: relative;
    }

    /* Pin card */
    .pin-card {
        display: block;
        max-width: 27px;

        /* Position */
        position: absolute;
        left: 50%;
        top: -3%;
        transform: translate(-50%, 0);
    }

    /* Foto */
    .foto {
        max-width: 100%;
        margin: 10px 0;
    }

    /* Data */
    .data {
        font-size: 0.9rem;
        font-family: "Sometype Mono", monospace;
    }

/**************
    OVERLAY
**************/

/* Gestione Body overlay */

#body-position {

    /* Position */
    position: fixed;    /*  Per overlay -> Uso fixed al posto di relative poiché l'overlay 
                            deve ricoprire tutta la vh 
                        */
}

#overlay-sfondo {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.8);

    /* Position */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#container-overlay-content {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

/* Bottone in overlay */
button {
    font-size: 1.7rem;
    width: 80px;
    height: 40px;
    margin: 15px auto 30px;
}

.img-overlay {
    width: 70%;
}

/**************
    HOVER
**************/
.card:hover {
    transform: rotate(10deg);
    z-index: 1;
    cursor: pointer;
    box-shadow: 5px 5px rgb(218, 218, 218);
}

/****************************************************  VERSIONE TABLET  *************************************************************/
@media screen and (max-width: 790px) {

/******************
        MAIN
******************/

/** CARD */
    .card {
        flex-basis: calc((100% - 40px)/2);
    }

}
/**************************************************** VERSIONE SMARTPHONE *************************************************************/
@media screen and (max-width: 517px) {

/******************
        MAIN
******************/

/** CONTENITORI */

    /* Contenitore Card */
        #container-sezione-card {
            max-width: 50%;
        }

/** CARD */
    .card {
        flex-basis: calc(100% - 40px);
    }

}
